<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Reset Password</title>
    </head>
    <body>
        <h1>Reset Password</h1>
        <div th:if="${success}" style="color:green;" th:text="${success}"></div>
        <div th:if="${error}" style="color:red;" th:text="${error}"></div>
        <form th:action="@{/reset}" method="post">
            <input type="hidden" name="token" th:value="${token}" />
            <div>
                <label>New password</label>
                <input type="password" name="password" required />
            </div>
            <div>
                <button type="submit">Reset Password</button>
            </div>
        </form>
        <p><a th:href="@{/login}">Back to login</a></p>
    </body>
</html>